.content-info {
  display: inline-block;
  @include media($small-sized) {
    height: 60px;
  }
    background: white;
}

a.copyright {
    float: left;
    width: 100%;
    color: $text-color;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 55px;

    @include media($small-sized) {
        width: auto;
    }
}
