header {
    display: inline-block;
    padding: 24px 0;
    width: 100%;
    background: #fff;
}

.brand {
    display: block;
    float: left;
    width: 100%;
    @include media($small-sized) {
      width: auto;
    }
    img {
        height: 55px;
    }
}

nav {
    float: right;
    line-height: 55px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        position: relative;
        float: left;
        padding: 0 16px;
        width: auto;
        text-align: center;
        text-decoration: none;
        a {
            display: inline-block;
            color: #848484;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 15px;
            line-height: 2em;
        }
    }
}
