/*
ABOUT
 */

.about {
    padding-bottom: 1rem;
    background-color: $about-background;
    background-image: url(../images/extra/shadow-separator@2x.png);
    background-position: 50% 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.company-list {
    display: flex;
    flex-direction: row;
    padding: 3rem 0 6rem 0;

    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}

.company {
    overflow: hidden;
    margin-bottom: 3rem;
    width: 216px;
    height: 256px;
    flex: 0 0 100%;
@include media($small-sized) {
    flex: 0 0 33%;
}
    a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.logo {
    display: inline-flex;
    padding: 72px 64px;
    width: 100%;
    height: 100%;
    background-image: url(../images/extra/company-logo-frame@2x.png);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
    transform: scale(1);

    align-content: center;
    img {
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
}

.client {
    position: absolute;
    right: 0;
    bottom: -2em;
    left: 0;
    margin: auto;
    padding: 0;
    transition: all 500ms ease-in-out;
}

.company a:hover {
    .logo {
        transform: scale(0.75);
    }
    .client {
        bottom: 0;
    }
}
