/*
CONTACT
 */

.contact {
    padding-bottom: 100px;
    background-color: $contact-background;
    background-image: url(../images/extra/elements-footer-pattern@2x.png);
    background-position: 50% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: inset 0px 10px 20px -10px rgba(0, 0, 0, 0.3);

    @include media($small-sized) {
        padding-bottom: 300px;
    }
    form {
        padding: 3.2rem;
        max-width: 700px;
        background-color: $contact_form-background;
        background-image: url(../images/extra/elements-pattern@2x.png);
        background-position: top right;
        background-size: 19%;
        background-repeat: no-repeat;
        text-align: left;
        h3 {
            font-weight: 400;
            font-size: 1.4em;
        }
        p.required {
            margin: 0;
            padding: 0;
            font-size: 0.5em;
            &:before {
                padding-right: 1em;
                content: url(../images/extra/form-required-icon.png);
            }
        }
        .field {
            padding-bottom: 1rem;
        }
    }
}
