/*
BLOG
 */

.blog {
    background-color: $blog-background;
}

.article {
    max-width: 100%;
    background-color: $article-background;
    text-align: left;
    .header {
        position: relative;
        overflow: hidden;
        padding: 2rem;
        @include media($small-sized) {
        padding: 8rem 4rem 4rem;
    }
        .featured-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: auto;
                @include media($small-sized) {
                top: -50%;
                width: 100%;
                height: auto;
            }
            }
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
                background-color: rgba(0, 0, 0, 0);
                content: '';
            }
        }
        h1 {
            position: relative;
            margin: 0;
            padding: 0 0 1rem 0;
            max-width: 100%;
            @include media($small-sized) {
            max-width: 62%;
        }
            color: #FFF;
            font-size: 2.1em;
            line-height: 1.3em;
        }
        p {
            position: relative;
            margin: 0;
            max-width: 100%;
            font-size: 1.1rem;
            @include media($small-sized) {
            max-width: 62%;
            font-size: 1.3rem;
        }
            color: #FFF;
        }
    }
    .content {
        padding: 2rem;
        @include media($small-sized) {
        padding: 2rem 4rem 4rem;
    }
        .text {
            float: none;
            width: 100%;

            @include media($small-sized) {
                float: left;
                width: 62%;
            }
            p {
                padding: 0 0 1rem 0;
            }
        }
        .parallax-bg {
            position: relative;
            display: none;
            float: none;
            width: 100%;

            @include media($small-sized) {
                display: block;
                float: right;
                width: 38%;
            }
            img {
                max-height: 440px;
            }
            .polygon {
                display: flex;
                padding: 46px 30px;
                width: 150px;
                height: 170px;
                background-image: url(../images/extra/polygon@2x.png);
                background-size: contain;
                background-repeat: no-repeat;
                img {
                    display: block;
                    margin: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .ios {
                position: absolute;
                top: -4rem;
                right: 2rem;
                z-index: 8;
            }
            .android {
                position: absolute;
                top: 2rem;
                left: 4rem;
                z-index: 7;
            }
            .windows {
                position: absolute;
                top: 15rem;
                left: 11rem;
                z-index: 6;
            }
            .nokia {
                position: absolute;
                top: 7rem;
                left: 1rem;
                z-index: 5;
            }
            .iphone {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 4;
            }
        }
        .images {
            display: flex;
            flex-direction: row;
            clear: both;

            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            .image {
                overflow: hidden;
                max-height: 380px;
                width: 100%;
                @include media($small-sized) {
                width: 48%;
            }
                img {
                    width: 100%;
                    height: auto;
                    transition: all 2s ease-in-out;
                    transform: scale(1);
                }
                &:hover img {
                    transform: scale(1.2);
                }
            }
        }
    }
}

.comments {
    padding: 1rem;
    @include media($small-sized) {
    padding: 2rem 4rem 4rem;
}
    h2 {
        text-align: center;
        font-size: 1.4em;
    }
    .field.comment {
        width: 100%;
    }
    .submit-button {
        text-align: center;
    }
}

.conversation {
    margin-top: 5rem;
    border-top: 3px solid $highlight-color;
    .comment {
        padding: 1rem 0 2rem 0;
        border-bottom: 1px solid #999;
        p {
            padding: 0;
            font-size: 1.2rem;
        }
        .meta {
            font-weight: 700;
            .date {
                padding-left: 14px;
                font-weight: 400;
            }
        }
    }
}
