/*
CAREERS
 */

.careers {
    background-color: $careers-background;
}

.office {
    max-width: 100%;
    & > img {
        width: 100%;
        height: auto;
    }
    .description {
        position: relative;
        top: -4rem;
        margin-bottom: -4rem;

        @include media($small-sized) {
            top: -9rem;
        }
        & > img {
            max-width: 40%;

            @include media($small-sized) {
                max-width: 100%;
            }
        }
    }
    h3 {
        padding-bottom: 1rem;
        font-weight: 700;
        font-size: 2em;
    }
    .text {
        padding: 0 1rem;
        @include media($small-sized) {
        padding: 0 5rem;
    }
        text-align: left;
        columns: 3 324px;
        column-gap: 2em;
        column-rule: 1px solid mix($highlight-color, $careers-background, 15%);
        p {
            margin: 0;
            padding-bottom: 2rem;
            @include media($small-sized) {
            padding: 0;
        }
            break-inside: avoid;
        }
    }
}
