/*
GENERAL RULES
 */

.section {
    padding-top: 3rem;

    @include media($small-sized) {
        padding-top: 5rem;
    }
}

.section h2 {
    position: relative;
    margin-top: 0;
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 1.65em;
    line-height: 2.4em;
    &:after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        max-width: 90%;
        width: 350px;
        border-bottom: 2px solid $highlight-color;
        content: '';
    }
}

@import "content/_section-carousel";
@import "content/_section-tagline";
@import "content/_section-about";
@import "content/_section-careers";
@import "content/_section-blog";
@import "content/_section-contact";
