/*
TAGLINE
 */

.tagline {
    padding-top: 0;
    background-color: $tagline-background;
    .lead {
        margin: 0 auto;
        padding-top: 4rem;
        font-weight: 700;
        font-size: 2rem;
        line-height: 1.4em;

        @include media($small-sized) {
            font-size: 3rem;
        }
    }
}
