.carousel {
    margin-top: -6px;
    width: 100%;
    height: 300px;
    @include media($small-sized) {
    height: 450px;
}
    .swiper-slide {
        flex-direction: column;
        background-position: center;
        background-size: cover;

        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    p {
        margin: 0;
        padding: 0;
        color: #FFF;
        text-transform: uppercase;
    }
    .carousel-content {
        position: relative;
        top: 25%;
        display: inline-block;
    }
    .carousel-title {
        font-weight: 400;
        font-size: 1.4rem;
    }
    .carousel-subtitle {
        font-size: 3rem;
        @include media($small-sized) {
        font-size: 4rem;
    }
        line-height: 1.5em;
    }
    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
    }
}
