/*
BUTTONS
 */

.btn {
    padding: 12px 36px;
    border: none;
    background-color: $highlight-color;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    @include media($small-sized) {
      font-size: 1.2rem;
    }
}

.btn.focus,
.btn:focus,
.btn:hover {
    background-color: saturate($highlight-color, 20%);
    color: white;
}

.btn-primary {
    padding: 18px 50px;
    border-radius: 0;
    text-transform: none;
    font-weight: 400;
    font-size: 1.4rem;
}


/*
FORMS
 */

input[type="text"],
textarea {
    padding: 10px 20px;
    width: 100%;
    outline: none;
    border: 1px solid rgba(151, 151, 151, 1);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5) inset;
    color: $text-color;
    font-style: italic;
    font-size: 1.2rem;
}

.fieldgroup {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
    @include media($small-sized) {
      flex-wrap: nowrap;
    }
}

.field {
    padding-bottom: 3rem;
    label {
        float: left;
        width: 100%;
        color: #000;
        line-height: 2em;
        &.required::after {
            content: url(../images/extra/form-required-icon.png);
            vertical-align: 12px;
        }
    }
    span {
        float: left;
        width: 100%;
    }
}
