@charset "UTF-8";
html {
    box-sizing: border-box;
}

* {
    &,
    &::after,
    &::before {
        box-sizing: inherit;
    }
}

body {
    background-color: $body-background;
    color: $text-color;
    text-align: center;
    font-size: 14px;
    @include media($small-sized) {
      font-size: 24px;
    }
    font-family: 'Open Sans', sans-serif;
}

a {
    color: $highlight-color;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        color: saturate($highlight-color, 20%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    padding: 0 0 3rem 0;
}


/*
LAYOUT
 */

.container {
    margin: 0 auto;
    max-width: 1260px;
    width: 100vw;
}

.wrap {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

main > * > * {
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
}
