// Colors
$highlight-color:         #ec0f50;
$text-color:  #5B6270;
$background-bright: #ffffff;
$background-subtle: #F6F6F6;
$background-dim: #F1F1F1;
$background-firm: #EEEFF0;
$background-distant: #F2F4F6;

// Specifics
$body-background: $background-distant;
$tagline-background: $background-subtle;
$about-background: $background-subtle;
$careers-background: $background-dim;
$blog-background: $background-subtle;
$article-background: $background-bright;
$contact-background: $background-subtle;
$contact_form_background: $background-firm;

// Media Breakpoints
$small-sized: 740px;
